body {
    font-family: 'sans-serif', rubik;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: sans-serif, 'Rubik Mono One';
  }
  
  .small {
    font-weight: 300;
    font-style: italic;
  }
  
  .card {
    height: 300;
    width: 200;
  }

