body {
    font-family: 'Rubik', sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Rubik Mono One', sans-serif;
  }
  
  .small {
    font-weight: 300;
    font-style: italic;
  }
  
  .card {
    height: 300;
    width: 200;
  }

/* .testing {
  background-color: aqua;
} */

/* .week-header {
  class="rounded-top rounded-5 text-center p-2 border border-dark bg-secondary" 

} */